* {
  margin: 0 ;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}
body{
  background-color: #23272d;
  color: #f2f5fa!important;
  width: 100%;


}
.icon{
  width: 30px;
  margin: 4px;

}
h1::selection,h2::selection, h3::selection,
h4::selection, h5::selection,h6::selection,
div::selection, p::selection,
li::selection{
  background-color: black;
  color: white;
}
header {
  position: fixed;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
  margin-bottom: 60px;
  background-color: #23272d;
  box-shadow: rgba(119, 119, 165, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 6;
}

.icon-envelope_header{
  position: absolute;
  right: 25px;
  top: 18px;
  width: 25px;
}
.mailFilterInvert{
  filter: invert();
  position: absolute;
  right: 5%;
  bottom: 50%;
}
.burger-icon{
  width: 30px;
  height: 20px;
}

.menu_button{
  display: none;
}
.menu_toggle{
  display: block;
}
nav{
  width: 40%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;

}

.mobile_nav{
  position: absolute;
  top: 0;
  right: 0;
  height: 90vh;
  width: 35vw;
  color: white;
  background-color: #333533;
  z-index: 999999;
  padding:4em 1em 1em 1em ;
  display: block;
  transition: all 0.4s ease;
}
.mobile_ul{
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
}
a{
  text-decoration: none;
  color: inherit;
  margin: 0.8em 0 ;

}
.mobile_li{
  margin: 0.8em 0 ;
  border-bottom: 1px solid #e9ff70;
}
ul li:hover{
  text-decoration: underline;
}
.close{
  display: none;
}
.close_button{
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
}
.close_button:hover{
  display: block;
  /*transition: all 0.4s ease;*/
  transform: scale(1.1);


}
.close_icon{
  filter: invert();
  width: 18px;
}

/*about me*/
#about_me{
  text-align: center;
  margin-bottom: 1px ;
}
.aboutmeContentWrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;

}



.main-intro{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.main-intro h1 {
  margin: 0px 0px 30px 4px;
  color: #e9ff70;
  font-size: clamp(14px,5vw,16px);
  font-weight: 400;
}
.main-intro h2 {
  font-weight: 600;
  /*color: white;*/
  line-height: 1.1;
}
.main-intro .big-heading  {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}
.main-intro p{
  margin: 20px 0px 0px;
  max-width: 540px;
  text-align: justify;
}
.main-intro  .bh-second{
  color: rgba(233, 255, 112, 0.8);
  font-size: clamp(30px, 7vw, 70px);
}
.intro-button{
  padding: 10px;
  border: #e9ff70 1px solid;
  margin-top: 1em;
  text-transform: capitalize ;
  border-radius: 5px;
  background-color: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailMe_icon{
  width: 30px;
  margin-left: 4px;
  color: #23272d;
}
.icon-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  background-color: #333533;
  width: 80px;
  height: 80px;
}
.skills_section{
  height: 90vh;
  background-color: #e9ff70;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_section h2{
  margin-left: 10%;
}
.icon-skills_wrap{
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  padding: 1em;

}
.icon-skills{
  width: 50px;
  margin:2px;
}
.icon-skills:hover{
  transform: scale(1.1);
  transition: transform .1s ease-in-out;
}
.github-icon{
  filter: invert();
}
.rows{
  margin: 1em;
  font-weight: bold;

}
.rows h3{
  margin-bottom: 0.5em;
}
.rows h3:hover{
  color: #e9ff70;
}
.rows img:hover{
  color: #e9ff70;

}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: #e9ff70 solid 5px;
  color: white;
  border-radius: 5px 20%  0 0;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 1.4em;
  padding-bottom: 6em;
}
.footer-icon_Container{
  display: flex;
  flex-direction: row;
}
.footer-icon_Container img{
  filter: invert();
}
.footer-icon_Container button {
  margin: 5px;
}
@media only screen and (max-width: 450px) {
  .skills{
    flex-direction: column;
  }
}

.footerContentWrap{
  padding-top: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerContentWrap p{
  max-width: 50%;
}
.footer-icon{
  margin: 4px;
}
.footerContentWrap h1{
  margin:8px 1.6em;
}
#projects{
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.my_projects{
  display: flex;
  width: 80%;
  margin: 10px auto;

}
.project1-wrap{
  position: relative;
}
.project-tile{
  width:20em;
  position:relative;
  background-color:white;
  border-radius:5px;
  border:1px solid #e9ff70;
  color: black;
  padding: 10px;
  box-shadow: 3px 3px 0 #e9ff70;
}

.project-tile:hover{
  transform: translate(-1px, -1px );
  border-radius:6px;
  box-shadow: 6px 6px 0  #e9ff70 , 3px 3px 0  #e9ff70 ;
  transition: box-shadow .3s ease-in-out;
}
.icon-github-wrap{
  display: flex;
  justify-content: right;
  align-items: center;
}
.icon-github-wrap p {
  margin: 5px;
}
@media only screen and (max-width: 550px) {

  .menu_button{
    display: block;
  }
  nav{
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .skills{
    flex-direction: column;
  }
  .imgWrap{
    min-height: 280px;
  }
  footer{
    min-height: 300px;
  }

}


@media only screen and (max-width: 300px){

  .project-tile{
    max-width:250px;
    height: 8em;

  }

}

@media only screen and (max-width: 255px){

  .project-tile{
    max-width:200px;
    height: 10em;
  }

}

/*********CONTACTS***********/
#contacts{
  padding-top: 60px;
}
.form_wrapper{
  border: 3px solid #e9ff70;
  border-radius: 5px 5px 5px 20px;
  max-width:30em ;
  margin:2em  auto 5em auto ;
  background-color: white;
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.form_wrapper h3{
  margin: 5px auto 1em auto;
}
.form_contact input, .form_contact button , textarea {
  width: 100%;
  padding:.3rem;
  border: 1px solid #d4d4d4;
}
.form_contact input:focus, textarea:focus {
  outline: #e9ff70 2px solid ;
}
.form_contact button{
  background-color: #d4d4d4;
  color: black;
}
.form_contact button:hover{
  background-color: #e9ff70;
  color: black;
  transition: background-color 2s ease-out;
}
